USE [master]
GO
/****** Object:  Database [Var3]    Script Date: 07.02.2022 12:54:56 ******/
CREATE DATABASE [Var3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Var3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Var3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Var3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Var3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Var3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Var3]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 07.02.2022 12:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID] [int] NOT NULL,
	[VIN] [nvarchar](max) NULL,
	[Manufacturer] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Year] [int] NULL,
	[Weight] [int] NULL,
	[Color] [int] NULL,
	[Engine type] [int] NULL,
	[Type of drive] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 07.02.2022 12:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] NOT NULL,
	[Фамилия] [nvarchar](max) NULL,
	[Имя] [nvarchar](max) NULL,
	[Отчество] [nvarchar](max) NULL,
	[Серия паспорта] [int] NULL,
	[Номер паспорта] [int] NULL,
	[Почтовый индекс] [int] NULL,
	[Адрес регистрации] [nvarchar](max) NULL,
	[Адрес проживания] [nvarchar](max) NULL,
	[Место работы] [nvarchar](max) NULL,
	[Должность] [nvarchar](max) NULL,
	[Мобильный телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](max) NULL,
	[Фотография] [nvarchar](max) NULL,
	[Замечания] [nvarchar](max) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 07.02.2022 12:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[ID] [int] NOT NULL,
	[License date] [date] NULL,
	[Expire date] [date] NULL,
	[Categories] [nvarchar](50) NULL,
	[License series] [nvarchar](max) NULL,
	[license numbers] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_Licenses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Cars] ([ID], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine type], [Type of drive]) VALUES (1, N'WBAKG7C54DJ746310', N'BMW', N'1-Series', 2009, 1794, 116, 3, N'front-wheel drive')
INSERT [dbo].[Cars] ([ID], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine type], [Type of drive]) VALUES (2, N'JN1CV6APXCM884333', N'BMW', N'1-Series', 2018, 1523, 118, 3, N'front-wheel drive')
INSERT [dbo].[Cars] ([ID], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine type], [Type of drive]) VALUES (3, N'2C4RDGCG2FR292116', N'BMW', N'2-Series', 1994, 1750, 120, 2, N'front-wheel drive')
GO
INSERT [dbo].[Drivers] ([ID], [Фамилия], [Имя], [Отчество], [Серия паспорта], [Номер паспорта], [Почтовый индекс], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (1, N'Hopkins', N'Alonso', N'Caleb', 2303, 160716, 760832, N'452 Cobblestone St.', N'', N'Global Gillette', N'Reporter', N'(970 383/8933', N'skippy@icloud.com', N'001-happy-18.png', N'')
INSERT [dbo].[Drivers] ([ID], [Фамилия], [Имя], [Отчество], [Серия паспорта], [Номер паспорта], [Почтовый индекс], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (2, N'Sellers', N'Kaydence', N'Susannah', 5563, 160745, 807042, N'Hyattsville, MD 20782', N'', N'Coca-Cola', N'Elementary School Teacher', N'(867 708/4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'')
INSERT [dbo].[Drivers] ([ID], [Фамилия], [Имя], [Отчество], [Серия паспорта], [Номер паспорта], [Почтовый индекс], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (3, N'Bray', N'Finnegan', N'Brighton', 3719, 717453, 83282, N'9648 Philmont Lane', N'', N'Harley-Davidson Motor Company', N'Childcare worker', N'(221 428/7850', N'isaacson@att.net', N'003-happy-17.png', N'')
GO
INSERT [dbo].[Licenses] ([ID], [License date], [Expire date], [Categories], [License series], [license numbers], [Status]) VALUES (1, CAST(N'2019-01-13' AS Date), CAST(N'2027-07-03' AS Date), N'B', N'5640', N'613073', N'Active')
INSERT [dbo].[Licenses] ([ID], [License date], [Expire date], [Categories], [License series], [license numbers], [Status]) VALUES (2, CAST(N'2018-08-02' AS Date), CAST(N'2023-09-21' AS Date), N'B', N'7465', N'904246', N'Active')
INSERT [dbo].[Licenses] ([ID], [License date], [Expire date], [Categories], [License series], [license numbers], [Status]) VALUES (3, CAST(N'2018-12-31' AS Date), CAST(N'2025-01-25' AS Date), N'B, A', N'6750', N'769897', N'Active')
GO
USE [master]
GO
